:root {
  --accordionItem: #f9f9f9;
  --accordionItemHover: #eaeaea;
  --accordionTitle: #222222;
  --accordionContent: #555555;
  --accordionContentOpen: #ffffff;
}

.faq-accordion {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.faq-accordion-item {
  background: var(--accordionItem);
  padding-right: 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  flex: 1 0 calc(50% - 20px);
  min-width: 100%;
  border-bottom: 2px solid var(--nav-item-border);
}

.faq-accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 2px;
  color: var(--accordionTitle);
}

.faq-accordion-item:hover {
  background: var(--accordionItemHover);
}

.faq-accordion-content {
  display: none;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.faq-accordion-content.open {
  display: block;
  padding: 30px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
